<div class="login xs-container">
	<h1 class="text-center">♢ JEDI Cards ♢</h1>
	<h4 class="text-center">Por favor, introduce tu usuario y contraseña.</h4>
	<div class="form-section">
		<label for="email">Email</label>
		<input type="text" name="email" [(ngModel)]="email">
	</div>
	<div class="form-section">
		<label for="password">Password</label>
		<input 
			type="password" 
			name="password" 
			[(ngModel)]="password"
		>
		<small *ngIf="password && !isPasswordCorrect()">
			El password debe tener mínimo {{ minLengthPassword }} letras.
		</small>
	</div>
	<br>
	<a 
		class="btn btn-ok"
		(click)="onSend()"
		[class.disabled]="!password || !email || !isPasswordCorrect() || isLoading"
	>{{ isLoading ? 'Cargando...' : 'Entrar' }}</a>
	<div class="text-center">
		Si no tienes una cuenta, créate una 
		<a class="underline" [routerLink]="'/signin'">aquí</a>.
	</div>
</div>
